# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Environment
# =========================
.env
.env.local
.env.*